<style>
    .loader {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 9999;
        background: url('/Content/Images/pageLoader.gif') 50% 50% no-repeat rgb(249,249,249);
        opacity: .8;
    }

    .cart {
        height: 540px;
        padding: 10px;
        border: solid 0.5px silver;
    }

    .cart-tbl {
        height: 550px;
        border-radius: 10px;
        background: #e3f2e4;
        overflow: auto;
    }

     .cornersL {
        border-radius: 15px 5px 1px 1px;
        background: #73AD21;
        padding: 5px;
        width: 10px;
        height: 10px;
    }

    .cornersR {
        border-radius: 5px 15px 1px 1px;
        background: #73AD21;
        padding: 5px;
        width: 10px;
        height: 10px;
    }

    .gtext {
        color: blue;
        text-shadow: 2px 2px 5px blue;
        font-size: 100%;
    }
</style>


@{
    ViewBag.Title = "Master Cutting Tools";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Dashboard
            <small>Master Cutting Tools</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Dashboard</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Ctq To Product</h3>
                    </div>
                    <!-- /.box-header -->
                    @*<div class="row">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-default btn-block btn-sm" data-toggle="modal" data-target="#myModal" onclick="addBreakHour();"><strong>Add New Break Hour</strong></button>
                        </div>
                    </div>*@

                    <div class="box-body cart">
                        <div id="mainform" class="form-horizontal cart-tbl">
                            <table id="tblTools" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th class="cornersL"  style='color:black;'>No</th>
                                        <th class="cornersL"  style='color:black;width:48%'>CTQ1</th>
                                        <th class="cornersR" style='color:black;width:50%'>Item</th>
                                    </tr>
                                </thead>
                                <tbody id="tbodytblTools"></tbody>
                            </table>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->


        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Cons Cutting Tools</h3>
                    </div>
                    <div class="box-body cart">
                        <div id="slaveform" class="form-horizontal cart-tbl">
                            <table id="tblCutt" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th class="cornersL" style='color:black;width:10%'>Add</th>
                                        <th bgcolor='#73AD21' style='color:black;width:45%'>Inv Code</th>
                                        <th class="cornersR" style='color:black; width:45%'>Inv Name</th>
                                    </tr>
                                </thead>
                                <tbody id="tbodytblCutt"></tbody>
                            </table>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->

        <div id="combineForm" class="box box-primary">
            <div class="box-header with-border">
                <div class="row">
                    <div class="col-md-3">
                        <h3 class="box-title" style="color:red"><strong>Create Cutt Tools</strong></h3>
                    </div>
                    <div class="col-md-3">
                        <button type="submit" class="btn-sm btn-warning" id="btnUnCheck" data-toggle="tooltip" title="Uncheck Table">Unchecked Table</button>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-5">
                        <input type="hidden" class="form-control" id="CTQ1VAL" disabled="disabled"></>
                        <input type="text" class="form-control" id="parCTQ1" disabled="disabled"></>
                    </div>
                    <div class="col-md-5">
                        <input type="text" class="form-control" id="parCTQ2" disabled="disabled"></>
                    </div>

                    <div class="col-md-2">
                        <button type="submit" class="btn-sm btn-primary" id="btnUpdate" data-toggle="tooltip" title="Save New Cutting Tools">Submit</button>
                    </div>

                </div>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
        </div>
        <!-- /.box -->
        <!-- Form Element sizes -->

        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Master Cutting Tools</h3>
                    </div>
                    <div class="box-body cart">
                        <div id="cuteform" class="form-horizontal cart-tbl">
                            <table id="tblMasterCut" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th class="cornersL" style='color:black;width:30%'>Type</th>
                                        <th bgcolor='#73AD21' style='color:black;width:30%'>Remark</th>
                                        <th bgcolor='#73AD21' style='color:black;width:30%'>Inv Name</th>
                                        <th class="cornersR" style='color:black'>Delete</th>
                                    </tr>
                                </thead>
                                <tbody id="tbodytblMasterCut"></tbody>
                            </table>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->


    </section>
    <!-- /.content -->

</div>
<div class="loader"></div>

@section Scripts
{
    <script>
        var urlPPIC = "@Url.Content("~/PPIC")";
        $(document).ready(function () {

            MainLoad();
            SlaveLoad();
            getLoad();

        });

        $('#btnUnCheck').click(function () {
            var $table = $('#slaveform'); // table selector 
            var $tdCheckbox = $table.find('tbody input:checkbox'); // checboxes inside table body
            var $tdCheckboxChecked = []; // checked checbox arr        });
            $tdCheckbox.prop('checked', false);
            //---$("#cbg").is(':checked') ? $tdCheckbox.prop('checked', true) : $tdCheckbox.prop('checked', false);

          }
        );


        $('#btnUpdate').click(function () {
            var nilctq = $('#CTQ1VAL').val();          
            var invcodeval = '';
            $("#slaveform input[name='checkemp']:checked").each(function () {
                var data = $(this).parents('tr:eq(0)');
                invcodeval = $(data).find('td:eq(1)').text();
                saveCuttTools(nilctq, invcodeval);
            });
            console.log('success');
            getLoad();           
            emptyCuttTools();
        });

        function MainLoad() {
            var tr;
            $.ajax({
                url: urlPPIC + "/viewCtqProd/",
                success: function (result) {
                    $.each(result, function (key, item) {
                        tr = $('<tr/>');
                        tr.append("<td>" + item.idCtq1 + "</td>");
                        tr.append("<td class='gtext'>" + item.remarkH + "</td>");
                        tr.append("<td class='gtext'>" + item.ProductName + "</td>");
                        $('#tblTools').append(tr);
                    });
                    $('#tblTools').DataTable();
                   
                    var masterTable = $('#tblTools').DataTable();
                    masterTable.column(0).visible(false);
                    $('#tblTools tbody').on('click', 'tr', function () {
                        var data = masterTable.row(this).data();

                        $('#parCTQ1').val(data[1]);
                        $('#parCTQ2').val(data[2]);
                        $('#CTQ1VAL').val(data[0]);
                    });
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                },
                beforeSend: function () { $(".loader").show(); },
                complete: function () { $(".loader").hide(); },
                type: 'POST', dataType: 'json'
            });
        }

        function SlaveLoad() {
            var tr;
            $.ajax({
                url: urlPPIC + "/viewCuttTools/",
                success: function (result) {
                    $.each(result, function (key, item) {
                        tr = $('<tr/>');
                        tr.append('<td><input type="checkbox" id="checkemp" name="checkemp" ></td>');
                        tr.append("<td class='gtext'>" + item.cInvCode + "</td>");
                        tr.append("<td class='gtext'>" + item.ProductName + "</td>");
                        $('#tblCutt').append(tr);
                    });
                    $('#tblCutt').DataTable({
                        "paging": false,
                        "ordering": true,
                        "info": false
                    });

                    /*------------batas-------------------*/
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                },
                beforeSend: function () { $(".loader").show(); },
                complete: function () { $(".loader").hide(); },
                type: 'POST', dataType: 'json'
            });
        }


        //function getTools(id) {
        //    $('#CTQ1VAL').val(id);
        //}

        function getCuts(id) {            
            $('#INVCODEVAL').val(id);
        }

        function saveCuttTools(idctq,invcodeval) {
            var res = validateCuttTools();
            if (res == false) {
                return false;
            }

            var ppicObj = {
                IDTools: idctq,
                NameTools: invcodeval
            };
            $.ajax({
                url: urlPPIC + "/addNewCuttTools",
                data: JSON.stringify(ppicObj),
                type: "POST",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    if (result !== 1) {
                        alert('Inserted Failed...');
                    }
                    getLoad();

                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
            //emptyCuttTools();
        }
        
        function DellTools(ID) {
            var ppicObj = {
                id: ID
            };
            $.ajax({
                url: urlPPIC + "/deleteCuttTools",
                data: JSON.stringify(ppicObj),
                type: "POST",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    if (result !== 1) {
                        alert('Deleted Failed...');
                    }
                    else {
                        BootstrapAlert.alert({
                            title: "Message",
                            message: "Data has been Deleted"
                        });
                        getLoad();
                    }
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }

        function getLoad() {
            var tr;
            $('#tblMasterCut').DataTable().destroy();  //1.urutan tidak boleh di balik
            $('#tbodytblMasterCut').empty();            //2.urutan tidak boleh di balik
            $.ajax({
                url: urlPPIC + "/showCuttTools/",
                success: function (result) {
                    $.each(result, function (key, item) {
                        tr = $('<tr/>');
                        tr.append("<td class='gtext'>" + item.ProductName + "</td>");
                        tr.append("<td class='gtext'>" + item.remarkH + "</td>");
                        tr.append("<td class='gtext'>" + item.cInvCode + "</td>");
                        tr.append('<td><a href="javascript:void(0);"  data-toggle="tooltip" title="Delete Cutting Tools !"     onclick="DellTools(' + item.Id + ');"><span class="glyphicon glyphicon-trash" style="color:red"></span></a></td>');
                        $('#tbodytblMasterCut').append(tr);
                    });
                    $('#tblMasterCut').DataTable().draw();
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                },
                beforeSend: function () { $(".loader").show(); },
                complete: function () { $(".loader").hide(); },
                type: 'GET', dataType: 'json'
            });
        }

        function emptyCuttTools() {
            $('#CTQ1VAL').val('');
            $('#parCTQ1').val('');
            $('#parCTQ2').val('');
        }

        function validateCuttTools() {
            var isValid = true;
            if ($('#CTQ1VAL').val().trim() == "") {
                $('#CTQ1VAL').css('border-color', 'Red');
                $('#parCTQ1').css('border-color', 'Red');
                $('#parCTQ2').css('border-color', 'Red');
                isValid = false;
            }
            else {
                $('#CTQ1VAL').css('border-color', 'lightgrey');
                $('#parCTQ1').css('border-color', 'lightgrey');
                $('#parCTQ2').css('border-color', 'lightgrey');
            }
            return isValid;
        }

    </script>
}