<style>
    .loader {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 9999;
        background: url('/Content/Images/pageLoader.gif') 50% 50% no-repeat rgb(249,249,249);
        opacity: .8;
    }
</style>


@{
    ViewBag.Title = "Machine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Dashboard
            <small>Machine</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Dashboard</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Machine</h3>
                        @if (Session["UserNIKLogin"] != null)
                        {
                            var codelogin = Session["UserNIKLogin"];
                            <input type="hidden" class="form-control" id="codecust" name="codecust" value=@codelogin />
                        }
                    </div>
                    <!-- /.box-header -->
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-default btn-block btn-sm" data-toggle="modal" data-target="#myModal" onclick="addMachine();"><strong>Add New Machine</strong></button>

                        </div>
                    </div>


                    <div class="box-body">
                        <div id="mainform" class="form-horizontal">
                            <table id="tblMachine" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th bgcolor='#ff99ff' style='color:black'>Code</th>
                                        <th bgcolor='#ff99ff' style='color:black'>Name</th>
                                        <th bgcolor='#ff99ff' style='color:black'>Brand</th>
                                        <th bgcolor='#ff99ff' style='color:black'>Type</th>
                                        <th bgcolor='#ff99ff' style='color:black'>Axes#</th>
                                        <th bgcolor='#ff99ff' style='color:black'>Chuck Position</th>
                                        <th bgcolor='#ff99ff' style='color:black'>Rpm</th>
                                        <th bgcolor='#ff99ff' style='color:black'>Run/Out</th>
                                        <th bgcolor='#ff99ff' style='color:black'>Chuck Size</th>
                                        <th bgcolor='#ff99ff' style='color:black'>Model</th>
                                        <th bgcolor='#ff99ff' style='color:black'>Control</th>
                                        <th bgcolor='#ff99ff' style='color:black'>Edit</th>
                                        <th bgcolor='#ff99ff' style='color:black'>Del</th>
                                    </tr>
                                </thead>
                                <tbody id="tbodytblMachine"></tbody>
                            </table>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->

        <!-- /.box -->
        <!-- Form Element sizes -->


    </section>
    <!-- /.content -->

    <div class="modal fade" id="myModalAction" tabindex="-1" role="dialog" aria-labelledby="myModalLabelAction" aria-hidden="true">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header btn-success">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4 class="modal-title" id="myModalLabelAction">Add Machine </h4>
                </div>
                <div class="form-horizontal">
                    <div class="modal-body">
                        <div class="row">
                            <input type="hidden" class="form-control" id="MachineID" placeholder="Machine ID">
                            <div class="col-sm-3">
                                <label for="MachineCode">Machine Code</label>
                            </div>
                            <div  class="col-sm-9">
                                <input type="text" class="form-control" id="MachineCode" placeholder="Machine Code">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label for="MachineName">Machine Name</label>
                            </div>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="MachineName" placeholder="Machine Name">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label for="brand">Brand</label>
                            </div>
                            <div  class="col-sm-9">
                                <input type="text" class="form-control" id="brand" placeholder="Brand">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label for="machineType">Type</label>
                            </div>
                            <div class="col-sm-9">
                                <select class="form-control" id="machineType">
                                    <option value="Turning">Turning</option>
                                    <option value="Milling">Milling</option>
                                    <option value="Turning/Milling">Turning/Milling</option>
                                    <option value="Swiss">Swiss Type Lathe</option>
                                </select>      
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label for="axis">Axis</label>
                            </div>
                            <div class="col-sm-9">
                                <select class="form-control" id="axis">
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label for="chuck">Chuck Position</label>
                            </div>
                            <div class="col-sm-9">
                                <select class="form-control" id="chuck">
                                    <option value="Horizontal">Horizontal</option>
                                    <option value="Vertical">Vertical</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label for="rpm">RPM</label>
                            </div>
                            <div class="col-sm-9">
                                <input type="number" class="form-control" id="rpm" placeholder="RPM">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label for="runout">RUN/OUT</label>
                            </div>
                            <div class="col-sm-9">
                                <input type="number" class="form-control" id="runout" placeholder="RUN/OUT">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label for="size">SIZE</label>
                            </div>
                            <div class="col-sm-9">
                                <input type="number" class="form-control" id="size" placeholder="SIZE">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label for="model">MODEL</label>
                            </div>
                            <div class="col-sm-9">
                                <select class="form-control" id="model">
                                    <option value="SP">Single Pallet</option>
                                    <option value="DP">Double Pallet</option>
                                    <option value="ST">Single Turret</option>
                                    <option value="DT">Double Turret</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label for="cntrl">CONTROL</label>
                            </div>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="cntrl" placeholder="CONTROL" disabled="disabled">
                            </div>
                            <div class="col-sm-5">
                                <select class="form-control" id="control">
                                    <option value="FANUC">FANUC</option>
                                    <option value="MITSUBISHI">MITSUBISHI</option>
                                    <option value="SIEMENS">SIEMENS</option>
                                    <option value="OT">OTHERS</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input id="btnAdd" type="button" name="add" class="btn btn-primary input-sm" onclick="saveMachine();" value="Submit">
                        <button id="btnUpdate" type="button" class="btn btn-primary"  style="display:none;" onclick="UpdateMachine();">Update</button>
                        <button type="submit" class="btn btn-danger"  data-dismiss="modal" onclick="closeMachine();">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </div>


</div>
<div class="loader"></div>
@section Scripts
{
    <script>
        var urlPPIC = "@Url.Content("~/PPIC")";
        $(document).ready(function () {
            MainLoad();
            //--$('#MachinelForm').hide();

            $("#control").change(function () {
                if ($(this).val() == "OT") {
                    $("#control").prop("disabled", true);
                    $("#cntrl").prop("disabled", false);
                }               
            });
        })

        function MainLoad() {
            var tr;
            $('#tblMachine').DataTable().destroy();  
            $('#tbodytblMachine').empty();           
            $.ajax({
                url: urlPPIC + "/ViewMachine/",
                success: function (result) {
                    $.each(result, function (key, item) {
                        tr = $('<tr/>');
                        tr.append("<td>" + item.codeMachine + "</td>");
                        tr.append("<td>" + item.Name + "</td>");
                        tr.append("<td>" + item.brand + "</td>");
                        tr.append("<td>" + item.Type + "</td>");
                        tr.append("<td>" + item.Axis + "</td>");
                        tr.append("<td>" + item.Revisi + "</td>");
                        tr.append("<td>" + item.rpm + "</td>");
                        tr.append("<td>" + item.runout + "</td>");
                        tr.append("<td>" + item.chucksize + "</td>");
                        //tr.append("<td>" + item.model + "</td>");
                        //if (item.control === 'SP') 

                        switch (item.model) {
                            case 'SP': tr.append("<td>Single Pallet</td>"); break;
                            case 'DP': tr.append("<td>Double Pallet</td>"); break;
                            case 'ST': tr.append("<td>Single Turret</td>"); break;
                            case 'DT': tr.append("<td>Double Turret</td>"); break;
                            default: tr.append("<td></td>"); break;
                        }
                        

                        tr.append("<td>" + item.control + "</td>");
                        tr.append('<td><a href="javascript:void(0);"  data-toggle="tooltip" title="Edit !"     onclick="getMachine(' + item.ID + ');"><span class="glyphicon glyphicon-pencil"></span></a></td>');
                        tr.append('<td><a href="javascript:void(0);"  data-toggle="tooltip" title="Delete !"   onclick="delMachine(' + item.ID + ');"><span class="glyphicon glyphicon-trash"></span></a></td>');                       
                        $('#tbodytblMachine').append(tr);
                    });
                    $('#tblMachine').DataTable().draw();
                    setInterval('loadData()', 60000);  //5menit
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                },
                beforeSend: function () { $(".loader").show(); },
                complete: function () { $(".loader").hide(); },
                type: 'POST', dataType: 'json'
            });
        }

        function getLoad() {
            var tr;
            $('#tbodytblMachine').empty();
            $.ajax({
                url: urlPPIC + "/ViewMachine/",
                success: function (result) {
                    $.each(result, function (key, item) {
                        tr = $('<tr/>');
                        tr.append("<td>" + item.Name + "</td>");
                        tr.append("<td>" + item.Type + "</td>");
                        tr.append("<td>" + item.Axis + "</td>");
                        tr.append("<td>" + item.Revisi + "</td>");
                        tr.append('<td><a href="javascript:void(0);"  data-toggle="tooltip" title="Edit !"     onclick="getMachine(' + item.ID + ');"><span class="glyphicon glyphicon-pencil"></span></a></td>');
                        tr.append('<td><a href="javascript:void(0);"  data-toggle="tooltip" title="Delete !"   onclick="delMachine(' + item.ID + ');"><span class="glyphicon glyphicon-trash"></span></a></td>');

                        $('#tblMachine').append(tr);
                    });
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                },
                beforeSend: function () { $(".loader").show(); },
                complete: function () { $(".loader").hide(); },
                type: 'POST', dataType: 'json'
            });
        }

    
        function getMachine(id) {
            var ppicObj = {
                ID:id
            };
            $.ajax({
                url: urlPPIC + "/ViewMachineID/",
                data: JSON.stringify(ppicObj),
                contentType: "application/json;charset=utf-8",
                success: function (result) {
                    $.each(result, function (key, item) {                    
                        $('#MachineID').val(item.ID);
                        $('#MachineName').val(item.Name);
                        $('#machineType').val(item.Type);
                        $('#axis').val(item.Axis);
                        $('#chuck').val(item.Revisi);
                        $('#MachineCode').val(item.codeMachine);
                        $('#brand').val(item.brand);
                        $('#rpm').val(item.rpm);
                        $('#runout').val(item.runout);
                        $('#size').val(item.chucksize);
                        console.log(item.model);
                        $('#model').val(item.model);
                        $('#cntrl').val(item.control);
                    });
                    $('#myModalAction').modal('show');
                    $('#btnUpdate').show();
                    $('#btnAdd').hide();

                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                },
                beforeSend: function () { $(".loader").show(); },
                complete: function () { $(".loader").hide(); },
                type: 'POST', dataType: 'json'
            });

        }

        function addMachine() {
            //--$('#MachinelForm').show();
            $('#myModalAction').modal('show');
            $('#btnUpdate').hide();
            $('#btnAdd').show();
            emptyMachine();
        }

        function UpdateMachine() {
            var res = validateMachine();
            var cCombo;
            if (res == false) {
                return false;
            }
            if ($('#control').val() == "OT")
                cCombo = $('#cntrl').val();
            else cCombo = $('#control').val();

            var ppicObj = {
                ID: $('#MachineID').val(),
                Name: $('#MachineName').val(),
                Type: $('#machineType').val(),
                Axis: $('#axis').val(),
                Revisi: $('#chuck').val(),
                codeMachine: $('#MachineCode').val(),
                brand: $('#brand').val(),
                rpm: $('#rpm').val(),
                runout: $('#runout').val(),
                chucksize: $('#size').val(),
                model: $('#model').val(),
                control: cCombo
            };
            $.ajax({
                url: urlPPIC + "/updateMachineID",
                data: JSON.stringify(ppicObj),
                type: "POST",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    MainLoad();

                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
            //emptyMachine();
        }

        function emptyMachine() {
            $('#MachineName').val('');
            $('#machineType').val('');
            $('#axis').val('');
            $('#chuck').val('');
            $('#MachineCode').val(''),
            $('#brand').val(''),
            $('#rpm').val(''),
            $('#runout').val(''),
            $('#size').val(''),
            $('#model').val(''),
            c$('#cntrl').val('')
        }

        function delMachine(id) {
            var ans = confirm("Are you sure you want to delete this Record?");
            if (ans) {
                $.ajax({
                    url: urlPPIC +  "/deleteMachineID/" + id,
                    type: "POST",
                    contentType: "application/json;charset=UTF-8",
                    dataType: "json",
                    success: function (result) {
                        //getLoad();
                        MainLoad();
                    },
                    error: function (errormessage) {
                        alert(errormessage.responseText);
                    }
                });
            }
        }

        function closeMachine() {
            $('#myModalAction').modal('hide');
            //--$('#MachinelForm').hide();
            $("#control").prop("disabled", false);
            $("#cntrl").prop("disabled", true);
            emptyMachine();
        }

        function saveMachine() {
            var res = validateMachine();
            var cCombo;
            if (res == false) {
                return false;
            }

            if ($('#control').val() == "OT")
                cCombo = $('#cntrl').val();
            else cCombo = $('#control').val();
       
            var ppicObj = {
                Name: $('#MachineName').val(),
                Type: $('#machineType').val(),
                Axis: $('#axis').val(),
                Revisi: $('#chuck').val(),
                codeMachine: $('#MachineCode').val(),
                brand: $('#brand').val(),
                rpm: $('#rpm').val(),
                runout: $('#runout').val(),
                chucksize: $('#size').val(),
                model: $('#model').val(),
                control: cCombo
            };
            $.ajax({
                url: urlPPIC + "/addNewMachine",
                data: JSON.stringify(ppicObj),
                type: "POST",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    //--getLoad();
                    MainLoad();
                   
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
            emptyMachine();

        }

        function validateMachine() {
            var isValid = true;
            if ($('#MachineName').val().trim() == "") {
                $('#MachineName').css('border-color', 'Red');
                isValid = false;
            }
            else {
                $('#MachineName').css('border-color', 'lightgrey');
            }


            if ($('#machineType').val() === null) {
                $('#machineType').css('border-color', 'Red');
                isValid = false;
            }
            else {
                $('#machineType').css('border-color', 'lightgrey');
            }


            if ($('#MachineCode').val() === null) {
                $('#MachineCode').css('border-color', 'Red');
                isValid = false;
            }
            else {
                $('#MachineCode').css('border-color', 'lightgrey');
            }


            return isValid;
        }

    </script>
}
