<style>
    .loader {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 9999;
        background: url('/Content/Images/pageLoader.gif') 50% 50% no-repeat rgb(249,249,249);
        opacity: .8;
    }
</style>

@{
    ViewBag.Title = "Report NCR-NMC";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Dashboard
            <small>Report NCR-NMC</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Dashboard</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Report NCR-NMC</h3>


                        <div class="row">
                            <!-- Date -->
                            <div class="col-md-1">
                                <label> Date : </label>
                            </div>
                            <div class="col-md-3">
                                @{  var tgl = DateTime.Now;
                                    <div class="input-group date datetimepicker">
                                        <input type="text" class="form-control" id="mydateDelivery" placeholder="Date Value" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                }
                                <!-- /.input group -->

                            </div>
                            <div class="col-md-3">
                                <button type="button" class="btn btn-default btn-block btn-sm" data-toggle="modal" onclick="showTables();"><strong>Preview</strong></button>
                            </div>
                        </div>


                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div id="mainform" class="form-horizontal">
                            <table id="fromKBM" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th bgcolor='#aa80ff' style='color:black'>NCRCode</th>
                                        <th bgcolor='#aa80ff' style='color:black'>ProductName</th>
                                        <th bgcolor='#aa80ff' style='color:black'>GradeMaterial</th>
                                        <th bgcolor='#aa80ff' style='color:black'><span class='pull-right'>Weight</span></th>
                                        <th bgcolor='#aa80ff' style='color:black'><span class='pull-right'>Qty</span></th>
                                        <th bgcolor='#aa80ff' style='color:black'><span class='pull-right'>TotWeight</span></th>
                                        <th bgcolor='#aa80ff' style='color:black'>TypeReject</th>
                                        <th bgcolor='#aa80ff' style='color:black'>HeatNo</th>
                                        <th bgcolor='#aa80ff' style='color:black'>Process 2</th>
                                        <th bgcolor='#aa80ff' style='color:black'>Process 3</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                                <tfoot>
                                </tfoot>
                            </table>
                        </div>
                        <br />

                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->

    </section>
    <!-- /.content -->

</div>
<div class="loader"></div>

<!-- /.content-wrapper -->

@section Scripts
{
    <script>

        var urlPPIC = "@Url.Content("~/PPIC")";
        $(document).ready(function () {
            $('#mydateDelivery').datepicker({
                format: "mm-yyyy"
            });

            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth() + 1; //January is 0!

            var yyyy = today.getFullYear();
            if (dd < 10) {
                dd = '0' + dd;
            }
            if (mm < 10) {
                mm = '0' + mm;
            }
            var todayDate =  mm + '/' + yyyy;

            $('#mydateDelivery').val(todayDate);

            $(".loader").hide();
            //MainLoad();
            $('#fromKBM').DataTable({
                
                dom: 'Bfrtip',
                lengthMenu: [
                        [10, 25, 50, -1],
                        ['10 rows', '25 rows', '50 rows', 'Show all']
                ],
                buttons: ['pageLength', {
                    extend: 'excel',
                    text: 'Export to Excel(All)',
                    exportOptions: {
                        modifier: {
                            // DataTables core
                            order: 'index',  // 'current', 'applied', 'index',  'original'
                            page: 'all',      // 'all',     'current'
                            search: 'none'     // 'none',    'applied', 'removed'
                        }
                    }
                }, {
                    extend: 'excel',
                    text: 'Export to Excel(Part)',
                    exportOptions: {
                        modifier: {
                            // DataTables core
                            order: 'index',  // 'current', 'applied', 'index',  'original'
                            page: 'current',      // 'all',     'current'
                            search: 'applied'     // 'none',    'applied', 'removed'
                        }
                    }
                },

                ],
            });

            

        })

        jQuery.fn.dataTable.Api.register('sum()', function () {
            return this.flatten().reduce(function (a, b) {
                if (typeof a === 'string') {
                    a = a.replace(/[^\d.-]/g, '') * 1;
                }
                if (typeof b === 'string') {
                    b = b.replace(/[^\d.-]/g, '') * 1;
                }

                return a + b;
            }, 0);
        });

        function showTables() {
            viewAgain();
        }
        function formatNumber(num) {
            return num.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,")

        }


        function MainLoad() {
            var ppicObj = {
                tgl: todayDate
            };
            var tr;
            $.ajax({
                url: urlPPIC + "/ViewNCRtoNMC/",
                data: JSON.stringify(ppicObj),
                type: "POST",
                contentType: "application/json;charset=utf-8",
                beforeSend: function () { $(".loader").show(); },
                complete: function () { $(".loader").hide();; },
                dataType: "json",
                success: function (result) {
                    $.each(result, function (key, item) {
                        tr = $('<tr/>');
                        tr.append("<td><strong>" + item.FinishingCode + "</strong></td>");
                        tr.append("<td><strong>" + item.ProductName + "</strong></td>");
                        tr.append("<td><strong>" + item.type + "</strong></td>");
                        tr.append("<td><span class='pull-right'>" + formatNumber(item.GrossWeight) + "</span></td>");
                        tr.append("<td><span class='pull-right'>" + formatNumber(item.Qty) + "</span></td>");
                        tr.append("<td><span class='pull-right'>" + formatNumber(item.Total) + "</span></td>");
                        tr.append("<td><strong>" + item.cInvCode + "</strong></td>");
                        tr.append("<td><strong>" + item.HeatNo + "</strong></td>");
                        tr.append("<td><strong>" + item.cRequestByUser + "</strong></td>");
                        tr.append("<td><strong>" + item.CDimintaOleh + "</strong></td>");
                        $('#fromKBM').append(tr);
                    });
                    $('#fromKBM').DataTable({
                        dom: 'Bfrtip',
                        buttons: [{
                            extend: 'excel',
                            text: 'Partss ',
                            exportOptions: {
                                modifier: {
                                    // DataTables core
                                    order: 'index',  // 'current', 'applied', 'index',  'original'
                                    page: 'all',      // 'all',     'current'
                                    search: 'none'     // 'none',    'applied', 'removed'
                                }
                            }
                        }, {
                            extend: 'excel',
                            text: 'Parts',
                            exportOptions: {
                                modifier: {
                                    // DataTables core
                                    order: 'index',  // 'current', 'applied', 'index',  'original'
                                    page: 'current',      // 'all',     'current'
                                    search: 'none'     // 'none',    'applied', 'removed'
                                }
                            }
                        }
                        ],


                    });



                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }

        function CalculateTableSummary(table) {
            try {

                var intVal = function (i) {
                    return typeof i === 'string' ?
                            i.replace(/[\$,]/g, '') * 1 :
                            typeof i === 'number' ?
                        i : 0;
                };

                var api = table.api();
                api.columns(".sum").eq(0).each(function (index) {
                    var column = api.column(index, { page: 'current' });

                    var sum = column
                       .data()
                       .reduce(function (a, b) {
                           //return parseInt(a, 10) + parseInt(b, 10);
                           console.log(a);
                           return intVal(a) + intVal(b);
                       }, 0);


                    console.log(sum);

                    if ($(column.footer()).hasClass("Int")) {
                        $(column.footer()).html('' + sum.toFixed(0));
                    } else {
                        $(column.footer()).html('' + sum.toFixed(2));
                    }

                });
            } catch (e) {
                console.log('Error in CalculateTableSummary');
                console.log(e)
            }
        }

        function viewAgain() {
            var ppicObj = {
                tgl: $('#mydateDelivery').val()
            };
            var tr;

            var dataTable = $('#fromKBM').DataTable();

            $.ajax({
                url: urlPPIC + "/ViewNCRtoNMC/",
                data: JSON.stringify(ppicObj),
                type: "POST",
                contentType: "application/json;charset=utf-8",
                beforeSend: function () { $(".loader").show(); },
                complete: function () { $(".loader").hide();; },
                dataType: "json",
                success: function (result) {
                    dataTable.clear();
                    $.each(result, function (key, item) {
                        dataTable.row.add([
                            item.FinishingCode,
                            item.ProductName,
                            item.type,
                            '<span class="pull-right">' + formatNumber(item.GrossWeight) + '</span>',
                            '<span class="pull-right">' + formatNumber(item.Qty) + '</span>',
                            '<span class="pull-right">' + formatNumber(item.Total) + '</span>',
                            item.cInvCode,
                            item.HeatNo,
                            item.cRequestByUser,
                            item.CDimintaOleh
                        ]).draw();

                    });



                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }
    </script>
}
