<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <small style="color:darkblue;"><b>PPIC Version</b> 1.0</small>
    </div>
    <strong style="color:darkblue;" >&copy; 2018 <a href="#" style="color:red; font-size:10px "> PT.ZENITH ALLMART PRECISINDO</a></strong> <small> All rights reserved. </small>
</footer>
