<header class="main-header">
    <!-- Logo -->
    <a href="@Url.Action("Index", "PPIC")" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b style="color:red;">PPIC</></b></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>Admin </b><i style="color:red;">PPIC</i></span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">

                <!-- User Account: style can be found in dropdown.less -->
                @*<li class="dropdown user user-menu">
                        <a href="@Url.Action("Lockscreen", "Zone")">
                            <i title=">Lock Screen" class="fa fa-fw fa-lock"></i>
                            <span title="Lock Screen" class="hidden-xs"></span>
                        </a>
                    </li>*@

                <li class="dropdown user user-menu">

                    @if (Session["UserNameEmployee"] != null)
                    {
                        var codelogin = Session["UserNameEmployee"];
                        <a href="javascript:void(0)">
                            <i class="fa fa-users text-aqua"></i>@codelogin
                        </a>
                    }
                </li>
                <li class="dropdown user user-menu">
                    <a href="@Url.Action("LogOff", "PPIC")"><span title="Log Out" class="glyphicon glyphicon-log-out"></span></a>
                </li>


                <!-- Control Sidebar Toggle Button -->
                <li>
                    <a href="javascript:void(0)" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<script>

</script>